import(lattice)
import(reshape2)
import(stringr)
import(plyr)

exportClasses(SpectraDataFrame)
exportClasses(Spectra)

export(continuum_removal, big.head, big.tail, melt_spectra)
export(Spectra, SpectraDataFrame)

S3method(plot, Spectra)
S3method(names, SpectraDataFrame)
S3method("names<-", SpectraDataFrame)

exportMethods(spectra, "spectra<-", wl, "wl<-", id, "id<-", data, "data<-", units, "units<-", resolution, "[", "$", "[[", add)
exportMethods(aggregate_spectra, subset, mutate, split)

exportPattern("^[^\\.]")