import(lattice)
import(reshape2)
import(stringr)
import(plyr)
import(sp)

exportClasses(
  Spectra,
  SpectraDataFrame,
  SpatialSpectra,
  SpatialSpectraDataFrame
)

export(continuum_removal, big.head, big.tail, melt_spectra)
export(Spectra, SpectraDataFrame)

S3method(plot, Spectra)
S3method(names, SpectraDataFrame)
S3method("names<-", SpectraDataFrame)

exportMethods(spectra, "spectra<-", wl, "wl<-", ids, "ids<-", features, "features<-", wl_units, "wl_units<-", resolution, "[", "$", "[[", add)
exportMethods("coordinates<-")
exportMethods(aggregate_spectra, subset, mutate, split)

exportPattern("^[^\\.]")