import(lattice)
import(reshape2)
import(stringr)
import(plyr)
import(sp)
importFrom(baseline, baseline, baselineGUI, getCorrected)

exportClasses(
  Spectra,
  SpectraDataFrame,
  SpatialSpectra,
  SpatialSpectraDataFrame
)

export(continuum_removal, big.head, big.tail, apply_spectra)
export(Spectra, SpectraDataFrame)
export(snv, rnv)

S3method(plot, Spectra)
S3method(names, SpectraDataFrame)
S3method("names<-", SpectraDataFrame)

exportMethods(spectra, "spectra<-", wl, "wl<-", ids, "ids<-", features, "features<-", wl_units, "wl_units<-", res, "[", "$", "[[", cut, melt_spectra, baseline)
exportMethods("coordinates<-")
exportMethods(aggregate_spectra, subset, mutate, split)

exportPattern("^[^\\.]")